
<html>
    <head>
        <title>
            moikka
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </head>
    <body>
          <form action="/send" method="POST">
            <!-- PERSON first_name -->
            First name:
            <textarea name="first_name" rows="1" cols="20"></textarea>
            <br>
            <!-- PERSON last_name -->
            Last name:
            <textarea name="last_name" rows="1" cols="20"></textarea>
            <br>
            <!-- PERSON email -->
            Email address:
            <textarea name="email" rows="1" cols="40"></textarea>
            <br>
            <!-- PERSON own_country_id, alasvetovalikosta maa ja tällöin lukee maan id:n  -->
            Where are you from? Number between 393 - 588.
            <textarea name="own_country_id" rows="1" cols="10"></textarea>
            <br>
            <!-- FAVORITE_ANIMAL favorite_animal_id, alasvetovalikosta eläin ja tällöin lukee maan id:n  -->
            What is your favorite animal? Number between 391 - 585.
            <textarea name="favorite_animal_id" rows="1" cols="10"></textarea>
            <br>
            <!-- FAVORITE_COUNTRY favorite_country_id, alasvetovalikosta maa ja tällöin lukee maan id:n  -->
            What is your favorite country? Number between 393 - 588.
            <textarea name="favorite_country_id" rows="1" cols="10"></textarea>
            <br>
            <input type="submit" value="Send">
            <br>
        </form>
    </body>
</html>