
<html>
    <head>
        <title>
            Your favorite animal and country
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="jumbotron">
            <h1 class="display-4">Add here!</h1>
            <p class="lead">Here you can add your information and your favorites.</p>
            <hr class="my-4">
            <p><b>Warning!</b> Please do not enter your real or other personal information here. This is an example.</p>
        </div>

        <div class="card mx-auto shadow border" style="width: 40rem; padding: 16px;">
            <div class="card-body">
                <form action="/send" method="POST">
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-3">
                          <label>First name</label>
                          <input name="first_name" type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-6 mb-3">
                          <label>Last name</label>
                          <input name="last_name" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input name="email" type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <select name="own_country_id" class="custom-select">
                            <option selected disabled value>Select here</option>
                            {% for o in sorted_countries %}
                            <option value="{{ o.country_id}}">{{ o.country }}</option>
                            {% endfor %}
                        </select>
                    </div><br>
                    <div>
                        <b>Now it's time to fill in your favorites. Please select below.</b>
                    </div><br>
                    <div class="form-group">
                        <label>What is your favorite animal?</label>
                        <select name="favorite_animal_id" class="custom-select">
                            <option selected disabled value>Select here</option>
                            {% for o in sorted_animals %}
                            <option value="{{ o.animal_id}}">{{ o.animal }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>What is your favorite country?</label>
                        <select name="favorite_country_id" class="custom-select">
                            <option selected disabled value>Select here</option>
                            {% for o in sorted_countries %}
                            <option value="{{ o.country_id}}">{{ o.country }}</option>
                            {% endfor %}
                        </select>
                    </div><br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" value="Send">Submit form</button>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <br>
    </body>
</html>