<html>
  <head>
    <title>Welcome</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="jumbotron custom-jumbotron">
      <h2 class="display-4">Hello there and welcome!</h2>
      <hr class="my-4" />
    </div>
    <div class="container text-center">
      <div class="row" style="font-size: larger">
        <p>
          This website allows you to add your favorite animal and favorite
          country. You can also see what other people's favorites are.
        </p>
      </div>
      <br /><br />
      <div class="row">
        <div class="col">
          <a href="/add" class="custom-button">Add yours favorites</a>
        </div>
        <div class="col">
          <a href="/result" class="custom-button">Show the results</a>
        </div>
      </div>
      <br /><br />
      <div class="row">
        <p>
          Please note that this website is a sample of my skills for my
          portfolio. This site is not in active use. You can test the site
          freely. If you are testing the functionality of the form, do not add
          your real personal information. You can add an imaginary information.
        </p>
      </div>
      <p style="text-align: center">
        If you have any questions or notice problems on the website, please
        don't hestitate to contact me via
        <a href="https://www.emmikivivuori.com/yhteystiedot/" target="_blank">
          https://www.emmikivivuori.com/yhteystiedot/
        </a>
      </p>
    </div>
  </body>
</html>
