<html>
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Emmi Kivivuori">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="jumbotron custom-jumbotron">
      <h2 class="display-4">Hello there and welcome!</h2>
      <hr class="my-4" />
    </div>
    <div class="container text-center">
      <div class="row" style="font-size: larger">
        <p>
          Kindly be advised that this website serves as a portfolio sample. It
          enables users to share their favorite animals and countries, while
          also providing visibility into others' preferences.
        </p>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <a href="/add" class="custom-button">Add your favorites</a>
        </div>
        <div class="col">
          <a href="/result" class="custom-button">Show the results</a>
        </div>
      </div>
      <br /><br />
      <div class="row">
        <p>
          Feel free to explore the site without any restrictions. When testing
          the form's functionality, refrain from using real personal information
          and instead, use imaginary data.
        </p>
      </div>
      <p style="text-align: center">
        If you encounter any inquiries or spot any issues with the website,
        please reach out to me via
        <a href="https://www.emmikivivuori.com/yhteystiedot/" target="_blank">
          https://www.emmikivivuori.com/yhteystiedot/ </a
        >, and I'll be glad to assist.
      </p>
    </div>
  </body>
</html>
